{% extends 'layout.html' %}

{% load static from staticfiles %}

{% block content %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" href="#"><img src="{% static 'images/logo_no_waves.png' %}" style="width:55px; height:auto;"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#">User Profile</a></li> -->
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">
			<h1 class="text-center"><img src="{% static 'images/logo_no_waves.png' %}" style="width:150px; height:auto;"></h1>
		</div>

		<br>

    <center><button type="button" id="btn-speech" class="btn btn-info btn-circle btn-xl pulse" onclick="startButton(event)"><i class="fa fa-microphone"></i></button></center>

		<br>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-lg">
          <input id="query_input" type="text" class="form-control search-box" placeholder="Say something like &quot;Find me movies featuring Tom Hanks&quot;." style="text-align: center; font-size: 24px;">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-10 -->
    </div><!-- /.row -->

		<br><br>
		
    <div class="row">
      <div class="col-md-12">
        <center>
          <h3 style="background-color: #00B0F0; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 3px; font-family: 'Oswald', san-serif; font-size: 30px;">Search Results</h3>
          <div id="loading" class="hidden">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
          </div>
        </center>
      </div>
    </div>

		<br><br>

    <div id="initial_recommendations_container">
    {% if initial_recommendations %}
      {% for m in initial_recommendations %}
          
          {% if forloop.counter0 == 0 %}  
            <div class="row"> 
          {% elif forloop.counter0 != 1 and forloop.counter0|divisibleby:4 %} 
            </div> <div class="row">
          {% endif %}

          {% if forloop.counter0|divisibleby:4 %}
            <div id={{ forloop.counter0 }}  class ="col-md-3">
              <div class="image results">
                <a data-toggle="modal" data-target=".bs-example-modal-lg">
                  <img src=" {{ m.image_url }}" style="height:350px" class="img-thumbnail img-responsive">
                  <p>{{ m.name }}</p>
                </a>
              </div>
            </div>
          {% else %}
            <div id={{ forloop.counter0 }}  class ="col-md-3">
                <div class="image results">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg">
                    <img src=" {{ m.image_url }}" style="height:350px" class="img-thumbnail img-responsive">
                    <p>{{ m.name }}</p>
                  </a>
                </div>
            </div>
          {% endif %}

      {% endfor %}
    {% endif %}
    </div></div>


		<div id="results_container">
		</div>

		<!-- Modal to display search results -->
    <div id="modal_result" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center>
              <h2 class="modal-title" style="font-family: 'Oswald', sans-serif; color: #00B0F0"><span>Forrest Gump</span></h2>
            </center>
          </div>

          <div class = "modal-body">
            <div class="row">
               <div class = "col-md-7">
                <div class="panel panel-default">
                  <div class="movie-desc">
                    <div class="title-block" style="width: 175px;"><h4>OVERVIEW</h4></div>
                    <p>A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what anyone imagined he could do. Yet, despite all the things he has attained, his one true love eludes him. 'Forrest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.</p>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="movie-info">
                      <div class="title-block" style="width: 175px;"><h4>MOVIE INFO</h4></div>
                      <div class="col-md-6">
                        <p><strong>Year</strong></p>
                        <p><strong>Runtime</strong></p>
                        <p><strong>Critic Rating</strong></p>
                        <p><strong>Audience Rating</strong></p>
                      </div>

                      <div class="col-md-6">
                        <p id="year">(year)</p>
                        <p id="runtime">(runtime)</p>
                        <p id="critic-rating">(critic rating)</p>
                        <p id="audience-rating">(run audience rating)</p>
                      </div>
                    </div>
                  </div>
                </div>
                

                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="like" style="text-align: center;">
                      <div class="title-block" style="width: 220px;"><h4>RATE THIS MOVIE</h4></div>
                      <i class="fa fa-star-o fa-lg star"></i> 
                      <i class="fa fa-star-o fa-lg star"></i>
                      <i class="fa fa-star-o fa-lg star"></i>
                      <i class="fa fa-star-o fa-lg star"></i>
                      <i class="fa fa-star-o fa-lg star"></i>
                    </div>
                  </div>
                </div>

              </div>

              <div class = "col-md-5">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="docs/forrest_gump.jpg" class="img-thumbnail img-responsive modal_image">
                  </div>

                </div> 
              </div>
            </div>

            <div class="rec-container">
              <center>
                <div id="loader" class="hidden">
                  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
              </center>
            </div>

          </div>
        </div>
      </div>
    </div>
	</div>

  <style>
  .hidden{
      display:none;
  }

  .unhidden{
      display:block;
  }
  </style>

  <script type="text/javascript">
  function unhide(divID) {
  var item = document.getElementById(divID);
  if (item) {
        item.className = 'unhidden';
      }
  }
  </script>

  <script type="text/javascript">
  function hide(divID) {
  var item = document.getElementById(divID);
  if (item) {
        item.className = 'hidden';
      }
  }
  </script>


	<script>
		var final_transcript = '';
		var recognizing = false;
		var ignore_onend;
		var start_timestamp;
    var movie_results;
    var is_initial=true;
    var clicked_id;
    var rating_already_set=false;
    var initial_recs = [];
    var inner_recs;
    var current_user_id;
    {% if initial_recommendations %}
      {% for m in initial_recommendations %}
        initial_recs.push({mid: {{m.mid}} ,
                            name: "{{m.name}}",
                            description: "{{m.description}}",
                            year: "{{m.year}}",
                            critic_rating: {{m.critic_rating}},
                            audience_rating: {{m.audience_rating}},
                            runtime: {% if m.runtime == None %} 120 {% else %} {{m.runtime}} {% endif %},
                            image_url: "{{m.image_url}}"
                     });
      {% endfor %}
    {% endif %}

    var ratings_by_this_user = [];
    {% if ratings_by_user %}
      {% for u in ratings_by_user %}
        ratings_by_this_user.push({uid: {{u.uid.id}},
                            mid: {{u.mid.mid}},
                            rating: {{u.rating}}
                     });
        current_user_id = {{ u.uid.id }};
      {% endfor %}
    {% endif %}
    console.log(ratings_by_this_user);

		if (!('webkitSpeechRecognition' in window)) {
			upgrade();
		} else {
			var recognition = new webkitSpeechRecognition();
			recognition.continuous = true;
			recognition.interimResults = true;
			recognition.onstart = function() {
			recognizing = true;
			};
			recognition.onerror = function(event) {
				if (event.error == 'no-speech') {
					ignore_onend = true;
				}
				if (event.error == 'audio-capture') {
					ignore_onend = true;
				}
				if (event.error == 'not-allowed') {
					ignore_onend = true;
				}
			};
			recognition.onend = function() {
				recognizing = false;
				if (window.getSelection) {
					window.getSelection().removeAllRanges();
					var range = document.createRange();
					range.selectNode(document.getElementById('query_input'));
					window.getSelection().addRange(range);
				}
			};
			recognition.onresult = function(event) {
				var interim_transcript = '';
				document.getElementById('query_input').value = '';
				for (var i = event.resultIndex; i < event.results.length; ++i) {
					if (event.results[i].isFinal) {
            unhide('loading');
						final_transcript += event.results[i][0].transcript;
						$.ajax({
							url : "/dashboard/",
							type : "POST",
							data : { query : final_transcript },
							success : function(json) {
				$('#results_container').empty();
        $('#initial_recommendations_container').empty();
        movie_results = json;
				for (var i=0; i<json.length; i++) {
				  if(i==0) { 
					$('#results_container').append("<div class=\"row\">"); 
				  }
				  else if(i != 1 && i % 4 == 0) {
					$('#results_container').append("</div> <div class=\"row\">");
				  }

								  // if(i%4 == 0) {
					$('#results_container').append("<div id=" + i + " class = \"col-md-3\">" +
													"<div class=\"image results\">" +
													  "<a data-toggle=\"modal\" data-target=\".bs-example-modal-lg\">" +
														'<div style="background-image:url(\'' + json[i].image_url + '\');" class="movie-image"></div>'+ 
                            "<p>"+ json[i].name + "</p>" +
													  "</a>" +
													"</div>" +
												"</div>");
          hide('loading');
				  // }
				 //  else {
					// $('#results_container').append("<div id=" + i + " class = \"col-md-2\">" +
					// 							  "<div class=\"panel panel-default\">" +
					// 								"<div class=\"panel-heading\">"+ json[i].name + "</div>" +
					// 								"<div class=\"panel-body\">" +
					// 								  "<a data-toggle=\"modal\" data-target=\".bs-example-modal-lg\">" +
					// 									"<img src=\""+ json[i].image_url +"\" class=\"img-thumbnail img-responsive\">" +
					// 								  "</a>" +
					// 								"</div>" +
					// 							  "</div>" +
					// 							"</div>");
				 //  }
				}
							},
							error : function(xhr,errmsg,err) {

							}
						});
					} else {
						interim_transcript += event.results[i][0].transcript;
					}
				}
				final_transcript = capitalize(final_transcript);
				if (final_transcript === "") {
					document.getElementById('query_input').value = linebreak(interim_transcript);
				} else {
					$('#btn-speech').blur();
					document.getElementById('query_input').value = linebreak(final_transcript);
				}
			};
		}

		var two_line = /\n\n/g;
		var one_line = /\n/g;
		function linebreak(s) {
			return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
		}
		var first_char = /\S/;
		function capitalize(s) {
			return s.replace(first_char, function(m) { return m.toUpperCase(); });
		}

		function startButton(event) {
			if (recognizing) {
				recognition.stop();
				return;
			}
			final_transcript = '';
			recognition.lang = "en-US";
			recognition.start();
			is_initial = false;
			ignore_onend = false;
			document.getElementById('query_input').value = "";
			start_timestamp = event.timeStamp;
		}

	$('#modal_result').on('show.bs.modal', function (event) {
    $($('.star')[0]).hover(function(){
      for(var i=0 ; i<5 ; i++){
        $($('.star')[i]).removeClass('fa-star');
        $($('.star')[i]).removeClass('fa-star-o');
      }

      $($('.star')[0]).addClass('fa-star');
      $($('.star')[1]).addClass('fa-star-o');
      $($('.star')[2]).addClass('fa-star-o');
      $($('.star')[3]).addClass('fa-star-o');
      $($('.star')[4]).addClass('fa-star-o');
    },
    function() {
      $('.star').addClass('fa-star-o');
    });

    $($('.star')[1]).hover(function(){
      for(var i=0 ; i<5 ; i++){
        $($('.star')[i]).removeClass('fa-star');
        $($('.star')[i]).removeClass('fa-star-o');
      }

      $($('.star')[0]).addClass('fa-star');
      $($('.star')[1]).addClass('fa-star');
      $($('.star')[2]).addClass('fa-star-o');
      $($('.star')[3]).addClass('fa-star-o');
      $($('.star')[4]).addClass('fa-star-o');
    },
    function() {
      $('.star').addClass('fa-star-o');
    });

    $($('.star')[2]).hover(function(){
      for(var i=0 ; i<5 ; i++){
        $($('.star')[i]).removeClass('fa-star');
        $($('.star')[i]).removeClass('fa-star-o');
      }

      $($('.star')[0]).addClass('fa-star');
      $($('.star')[1]).addClass('fa-star');
      $($('.star')[2]).addClass('fa-star');
      $($('.star')[3]).addClass('fa-star-o');
      $($('.star')[4]).addClass('fa-star-o');
    },
    function() {
      $('.star').addClass('fa-star-o');
    });

    $($('.star')[3]).hover(function(){
      for(var i=0 ; i<5 ; i++){
        $($('.star')[i]).removeClass('fa-star');
        $($('.star')[i]).removeClass('fa-star-o');
      }

      $($('.star')[0]).addClass('fa-star');
      $($('.star')[1]).addClass('fa-star');
      $($('.star')[2]).addClass('fa-star');
      $($('.star')[3]).addClass('fa-star');
      $($('.star')[4]).addClass('fa-star-o');
    },
    function() {
      $('.star').addClass('fa-star-o');
    });

    $($('.star')[4]).hover(function(){
      for(var i=0 ; i<5 ; i++){
        $($('.star')[i]).removeClass('fa-star');
        $($('.star')[i]).removeClass('fa-star-o');
      }

      $($('.star')[0]).addClass('fa-star');
      $($('.star')[1]).addClass('fa-star');
      $($('.star')[2]).addClass('fa-star');
      $($('.star')[3]).addClass('fa-star');
      $($('.star')[4]).addClass('fa-star');
    },
    function() {
      $('.star').addClass('fa-star-o');
    });


    if(is_initial) {
      clicked_id = $(event.relatedTarget).parent().parent().attr("id");
      var modal = $(this);
      var movie = initial_recs[clicked_id];
      console.log(movie);
      modal.find('.modal-title span').text(movie.name);
      modal.find('.modal_image').attr("src",movie.image_url);
      modal.find('div.movie-desc p').text(movie.description);
      modal.find('div.movie-info #year').text(movie.year);
      modal.find('div.movie-info #runtime').text(movie.runtime);
      modal.find('div.movie-info #audience-rating').text(movie.audience_rating);
      modal.find('div.movie-info #critic-rating').text(movie.critic_rating);

      
      for(var i=0 ; i<ratings_by_this_user.length ; i++) {
        
        console.log("comparing: "+ ratings_by_this_user[i].mid +" with this: " + movie.mid);
        if(ratings_by_this_user[i].mid == movie.mid) {

          console.log("found match, rating is: " + parseInt(ratings_by_this_user[i].rating));
          for(var j=0 ; j<parseInt(ratings_by_this_user[i].rating); j++) {
            $($('.star')[j]).addClass('fa-star');
            $($('.star')[j]).removeClass('fa-star-o');
          }

          for(var j=parseInt(ratings_by_this_user[i].rating) ; j<5; j++) {
            $($('.star')[j]).addClass('fa-star-o');
            $($('.star')[j]).removeClass('fa-star');
          }

          var curr_rating = parseInt(ratings_by_this_user[i].rating);
          $.ajax({
            url : "/rate_movie/",
            type : "POST",
            data : { m : movie.mid,
                     rating : parseInt(ratings_by_this_user[i].rating) },
            success : function(json) { 
              inner_recs = json;

              ratings_by_this_user.push({uid: current_user_id,
                                  mid: movie.mid,
                                  rating: curr_rating});

              $('.rec-container').append("<hr>" +
                                            "<div class=\"row\">" +
                                              "<div class=\"col-md-12\">" +
                                                "<div class=\"panel panel-default\">" +
                                                  "<div class=\"panel-body\">" +
                                                    "<div class=\"recs\">" +
                                                      "<div class=\"title-block\" style=\"width: 350px;\">" +
                                                        "<h4>OTHER MOVIES YOU MIGHT LIKE</h4>" +
                                                      "</div>" +
                                                      "<div class=\"row rec-inner-container\">");

              for(var i=0; i<json.length ; i++) {
                console.log(json[i].fields.name);
                
                $('.rec-inner-container').append("<div class=\"col-md-2\">" +
                                              "<a href=\"#\">" +
                                                "<div class=\"image recs\">" +
                                                  '<div style="background-image:url(\'' + json[i].fields.image_url + '\');" class="movie-image thumbnail"></div>'+ 
                                                    "<p>"+json[i].fields.name+"</p>"+
                                                "</div>" +
                                              "</a>" +
                                            "</div>");
                
                if(i==5) {
                  break;
                }
              }

              $('.rec-container').append(             "</div>"+ 
                                                    "</div>" + 
                                                  "</div>" +
                                                "</div>" +
                                              "</div>" +
                                            "</div>");

            },
            error : function(xhr,errmsg,err) { }
          });

        }
      }
    }
    else {
      clicked_id = $(event.relatedTarget).parent().parent().attr("id");
      var modal = $(this);
      var movie = movie_results[clicked_id];
      modal.find('.modal-title span').text(movie.name);
      modal.find('.modal_image').attr("src",movie.image_url);
      modal.find('div.movie-desc p').text(movie.description);
      modal.find('div.movie-info #year').text(movie.year);
      modal.find('div.movie-info #runtime').text(movie.runtime);
      modal.find('div.movie-info #audience-rating').text(movie.audience_rating);
      modal.find('div.movie-info #critic-rating').text(movie.critic_rating);

      for(var i=0 ; i<ratings_by_this_user.length ; i++) {
        if(ratings_by_this_user[i].mid == movie.mid) {

          for(var j=0 ; j<parseInt(ratings_by_this_user[i].rating); j++) {
            $($('.star')[j]).addClass('fa-star');
            $($('.star')[j]).removeClass('fa-star-o');
          }
          for(var j=parseInt(ratings_by_this_user[i].rating) ; j<5; j++) {
            $($('.star')[j]).addClass('fa-star-o');
            $($('.star')[j]).removeClass('fa-star');
          }

          var curr_rating = parseInt(ratings_by_this_user[i].rating);
          $.ajax({
            url : "/rate_movie/",
            type : "POST",
            data : { m : movie.mid,
                     rating : parseInt(ratings_by_this_user[i].rating) },
            success : function(json) { 
              inner_recs = json;

              ratings_by_this_user.push({uid: current_user_id,
                                  mid: movie.mid,
                                  rating: curr_rating});

              $('.rec-container').append("<hr>" +
                                            "<div class=\"row\">" +
                                              "<div class=\"col-md-12\">" +
                                                "<div class=\"panel panel-default\">" +
                                                  "<div class=\"panel-body\">" +
                                                    "<div class=\"recs\">" +
                                                      "<div class=\"title-block\" style=\"width: 350px;\">" +
                                                        "<h4>OTHER MOVIES YOU MIGHT LIKE</h4>" +
                                                      "</div>" +
                                                      "<div class=\"row rec-inner-container\">");

              for(var i=0; i<json.length ; i++) {
                console.log(json[i].fields.name);
                
                $('.rec-inner-container').append("<div class=\"col-md-2\">" +
                                              "<a href=\"#\">" +
                                                "<div class=\"image recs\">" +
                                                  '<div style="background-image:url(\'' + json[i].fields.image_url + '\');" class="movie-image thumbnail"></div>'+ 
                                                    "<p>"+json[i].fields.name+"</p>"+
                                                "</div>" +
                                              "</a>" +
                                            "</div>");
                
                if(i==5) {
                  break;
                }
              }

              $('.rec-container').append(             "</div>"+ 
                                                    "</div>" + 
                                                  "</div>" +
                                                "</div>" +
                                              "</div>" +
                                            "</div>");

            },
            error : function(xhr,errmsg,err) { }
          });

        }
      }
    }
	});

  $('#modal_result').on('hidden.bs.modal', function () {
    $('.star').addClass('fa-star-o');
    $('.star').removeClass('fa-star');
    $('.rec-container').empty();
  })


  $('.star').click(function() {
    var clicked_rating = $(this).index();
    $('.rec_container').empty();
    
    $('.star').unbind('mouseenter mouseleave');
    $('.star').removeClass('fa-star');
    $('.star').removeClass('fa-star-o');
    for(var i=0 ; i<clicked_rating; i++) {
      $($('.star')[i]).addClass('fa-star');
    }
    for(var i=clicked_rating ; i<5 ; i++) {
      $($('.star')[i]).addClass('fa-star-o');
    }
    unhide("loader");
    var movie;
    if(is_initial) {
      movie = initial_recs[clicked_id];
    }
    else {
      movie = movie_results[clicked_id];
    }
    $.ajax({
      url : "/rate_movie/",
      type : "POST",
      data : { m : movie.mid,
               rating : $(this).index() },
      success : function(json) { 
        inner_recs = json;

        ratings_by_this_user.push({uid: current_user_id,
                            mid: movie.mid,
                            rating: clicked_rating});

        hide("loader");
        $('.rec-container').append("<hr>" +
                                      "<div class=\"row\">" +
                                        "<div class=\"col-md-12\">" +
                                          "<div class=\"panel panel-default\">" +
                                            "<div class=\"panel-body\">" +
                                              "<div class=\"recs\">" +
                                                "<div class=\"title-block\" style=\"width: 350px;\">" +
                                                  "<h4>OTHER MOVIES YOU MIGHT LIKE</h4>" +
                                                "</div>" +
                                                "<div class=\"row rec-inner-container\">");

        for(var i=0; i<json.length ; i++) {
          console.log(json[i].fields.name);
          
          $('.rec-inner-container').append("<div class=\"col-md-2\">" +
                                              "<a href=\"#\">" +
                                                "<div class=\"image recs\">" +
                                                  '<div style="background-image:url(\'' + json[i].fields.image_url + '\');" class="movie-image thumbnail"></div>'+ 
                                                    "<p>"+json[i].fields.name+"</p>"+
                                                "</div>" +
                                              "</a>" +
                                            "</div>");
          
          if(i==5) {
            break;
          }
        }

        $('.rec-container').append(             "</div>"+ 
                                              "</div>" + 
                                            "</div>" +
                                          "</div>" +
                                        "</div>" +
                                      "</div>");

      },
      error : function(xhr,errmsg,err) { }
    });
  });

	</script>
{% endblock %}